.auth-control {
    margin-top: 3rem;
    display: flex;
    width: 90%;
    border: none;
    border-right: 1px solid #6699ff;
    height: 45rem;
}


.auth-control__login-header {
    color: rgb(0, 85, 255, 0.8);
    margin-bottom: 1rem;
}

.auth-control__login{
    margin: 0;
    width: 40%;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    display: flex;
}

.auth-control__signup {
    background-color: #b3d9ff;
    width: 60%;
    display: flex;
}

.auth-control__login-form {
    align-items: flex-start;
    width: 70%;
    height: auto;
    display: flex;
    flex-direction: column;
}

.auth-control__login-actions{
    margin: 0 0 25px 0;
    width: 100%;
    align-items: center;
    display: flex;
    height: 30px;
    justify-content: space-between;
}

/* .auth-control__login-form input {
    margin: 0;
    width: 100%;
    height: 30px;
    border: none;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}

.auth-control__login-form label {
    margin-top: 1rem;
    color: rgba(0, 0, 0, 0.4);
    font-size: 13px;
    font-weight: bold;
}


.input-control a {
    color: #00ECFF;
    font-size: 12px;
    text-decoration: none;
    padding: 0;
}

.auth-control__login-form > input:focus {
    outline: none;
    box-shadow: 1px 1px 1px 0px #00ECFF;
}

.input-control {
    width: 100%;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
    display: flex;
    height: 30px;
    justify-content: space-around;
    align-items: center;
}

.input-control input {
    border-bottom: none;
    flex: 2;
    padding: 0;
}

.input-control:focus-within {
    box-shadow: 1px 1px 1px 0px #00ECFF;
}

.input-control input:focus{
    outline: none;
} */