.nav-links{
    display: flex;
    flex-direction: row;
    margin: 0 2rem;
    list-style: none;
}

.nav-links li {
    margin: 0 1rem;
}

.nav-links a {
    color: black;
    font-size: 14px;
    text-decoration: none;
    letter-spacing: 1px;
    /* font-weight: bold; */
}

.nav-links a:hover{
    cursor: pointer;
    /* color: #00ECFF; */
    color: rgba(0, 91, 151, 0.733);
}

.nav-links a:active,
.nav-links a.active{
    /* color: #00ECFF; */
    padding: 1px 0;
    color: rgba(0, 91, 151, 0.733);
    border-bottom: 1px solid rgba(0, 91, 151, 0.733);;
}


/* #b3d9ff */
/* 
#6699ff  */


 /* #7194da */